<!-- Model -->
<ng-template #content let-modal let-ref="dialogRef" class="resultContainer">
  <div class="modal-header">
    <h6 class="modal-title text-center">OOR & OB Comparison Result</h6>
    <button class="downloadButton" (click)="downloadExcel()">Download Excel</button>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <nb-icon icon="close"></nb-icon>
    </button>
  </div>
  <div class="modal-body">
    <table id="table" class="table w-auto small table-sm table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th colspan="6" style="font-size: 16px;">OOR Table</th>
          <th></th>
          <th colspan="5" style="font-size: 16px;">Order Book Table</th>
        </tr>
        <tr>
          <th>Key(Season-ColorName-CustomStyleNo-VOPNo-COQty)</th>
          <th>Factory Vendor</th>
          <th>Mode of Ship</th>
          <th>Original Mast Ownership Date</th>
          <th>Plan Mast Ownership Date</th>
          <th>Order Quantity</th>
          <th></th>
          <th>Prod Warehouse</th>
          <th>Shipment Mode</th>
          <th>Req Del Date</th>
          <th>Plan Del Date</th>
          <th>CO Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of data">
          <td>{{ x.compositeKey }}</td>
          <td [ngStyle]="{'background-color':x.prodWarehouse === x.factoryVendor ? '' : '900'}">
            {{ x.factoryVendor }}
          </td>
          <td [ngStyle]="{'background-color':x.shipmentMode === x.modeOfShip ? '' : 'rgb(252, 19, 19)'}">
            {{ x.modeOfShip }}
          </td>
          <td [ngStyle]="{'background-color':x.reqDeldate === x.originalMastOwnershipDate ? '' : 'rgb(252, 19, 19)'}">
            {{ x.originalMastOwnershipDate }}
          </td>
          <td [ngStyle]="{'background-color':x.planDelDate === x.planMASTOwnershipDate ? '' : 'rgb(252, 19, 19)'}">
            {{ x.planMASTOwnershipDate }}
          </td>
          <td [ngStyle]="{'background-color':x.COQty === x.orderQuantity ? '' : 'rgb(252, 19, 19)'}">
            {{ x.orderQuantity }}
          </td>
          <td></td>
          <td [ngStyle]="{'background-color':x.prodWarehouse === x.factoryVendor ? '' : 'rgb(252, 19, 19)'}">
            {{ x.prodWarehouse }}
          </td>
          <td [ngStyle]="{'background-color':x.shipmentMode === x.modeOfShip ? '' : 'rgb(252, 19, 19)'}">
            {{ x.shipmentMode }}
          </td>
          <td [ngStyle]="{'background-color':x.reqDeldate === x.originalMastOwnershipDate ? '' : 'rgb(252, 19, 19)'}">
            {{ x.reqDeldate }}
          </td>
          <td [ngStyle]="{'background-color':x.planDelDate === x.planMASTOwnershipDate ? '' : 'rgb(252, 19, 19)'}">
            {{ x.planDelDate }}
          </td>
          <td [ngStyle]="{'background-color':x.COQty === x.orderQuantity ? '' : 'rgb(252, 19, 19)'}">
            {{ x.COQty }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <style type="text/css">
    .red
    {
        background-color:rgb(252, 19, 19);
    }
  </style>
  <!-- pagination -->
  <!-- <div class="modal-footer justify-content-center">
    <n-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"
      (pageChange)="refresh()">
      <ng-template ngbPaginationPages let-page let-pages="pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="form-group d-flex flex-nowrap px-2">
            <label id="paginationInputLabel" for="paginationInput" class="col-form-label mr-2 ml-1"
              style="margin-right:5px;">
              Page
            </label>
            <input #i type="text" inputmode="numeric" pattern="[0-9]*" class="form-control custom-pages-input"
              id="paginationInput" [value]="page" (keyup.enter)="selectPage(i.value)" (blur)="selectPage(i.value)"
              (input)="formatInput($any($event).target)" aria-labelledby="paginationInputLabel paginationDescription"
              style="width: 2.5rem" />
            <span id="paginationDescription" class="col-form-label text-nowrap px-2">
              of {{pages.length}}
            </span>
          </div>
        </li>
      </ng-template>
    </n-pagination>
  </div> -->
</ng-template>
