.close:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// .resultContainer{
//   max-height: 90vh;
//   overflow-y: scroll;
// }
.downloadButton{
  margin-left: 10px;
  border: 0px;
  background-color: #db202f;
  color: white;
  border-radius: 4px;
  width: 150px;
  height: 40px;
}